/*navbar*/
#navbarNav {
  justify-content: space-between !important;
  background-color:beige;
}

.nav-item {
  right: 0 !important;
}
#logo{
  width: 58px;
  height: 58px;
}
#prod-comprados { /*productos comprados son la cantidad de productos comprados*/
  padding: 0px 5px;
  border-radius: 5px;
  background-color: rgb(245, 30, 30);
  color: white;
  display: none;
  position: absolute;
  margin-top: -40px;
  margin-left: 60px;
}
/*style de html tienda / inicio*/
.conteiner-productos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
  flex-wrap: wrap;
  gap: 15px ;   
}
/* Estilos para los formularios */
.formulario_prod{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 10px;
  flex-wrap: wrap;
  }
#formulario-producto{
 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-width: 24px;
  max-width: 50%;
  width: 100%;
  top: 10px;
  left:50px;
  padding: 15px;
  box-shadow: 0 1rem 1rem rgba(252, 249, 249, 0.172);
  background-color: rgba(189, 122, 122, 0.3);
  border: 10px;
  color: rgba(237, 222, 222, 0.971);
}


/* Estilo para las tarjetas de productos */
.card {
  height: 26rem;
  width: 20rem;
}
.card-body {
  flex: none;
}

.card img {
  object-fit: contain;
  width: 60%;
  margin: auto;
}
.close-icon {
  font-size: 1.5rem;
  color: white;
  position: absolute;
  right: 10px;
  background-color: none;
}

.fa-solid {
  text-shadow: 0 0 3px #000;
}

.close-icon:hover {
  color: red;
  cursor: pointer;
}

.btn {
  border: none; 
  color: black; 
  padding: 12px 24px; 
  cursor: pointer; 
  border-radius: 5px; 
}
/*para el boton de cerrar*/
.danger {background-color: white; border: 2px solid #f44336;} 
.danger:hover {background: #da190b; color: white;}
/*para el boton de inicio*/
.success {background-color: white; border: 2px solid #04AA6D;} 
.success:hover {background-color: #46a049; color: white;}
/*para los botones finaliar y vaciar*/
.secondary {background-color: white; border: 2px solid #aba3a3;} 
.secondary:hover {background: #ddd; color: white;}
.primary {background-color: white; border: 2px solid #007bff;} 
.primary:hover {background: #0b7dda; color: white;}
 /*CSS del Html Carrito*/ 
 .formato-carrrito{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .cards-title {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  margin-top: 1rem;
}
.cart-item {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 1rem;
}
.elim-prod {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  float: right; /* Posicionar el botón a la derecha */
  position: absolute;
  margin-top: -70px;
  margin-left: 125px;
}
 #carrito{
  text-align: center;
  gap: 10px; 

 }
#btnVaciarCarrito{
  margin-bottom: 1rem;
}
#btnFinalizarCompra{
  margin-bottom: 1rem;
}
/*CSS del Html iniciar sesion*/
*{
margin :0;
padding: 0;
box-sizing: border-box;
}
.conteiner-formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
  flex-wrap: wrap;
  gap: 20px;
}

.formulario{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: relative;
min-width: 340PX;
max-width: 340px;
width: 220px;
top: 30px;
right: 50%;
left:50%;
transform: translate(-50%,50%);
padding: 10px;
box-shadow: 0 1rem 1rem rgba(252, 249, 249, 0.3);
background-color: rgba(253, 225, 86, 0.794);
border: 5px;
color:blanchedalmond;
}
.login-label {
  margin-top: 1rem;
}

.login-input {
  border: none;
}

.login-submit {
  margin-top: 1rem;
}

/* sweet alert*/
.swal2-title {
  color:darksalmon;
}
.swal2-html-container, .swal2-title{
  color:lightcoral !important;
}
/*todo*/
button{
  background-color:chocolate;
  border: none;
  cursor: pointer;
  margin-bottom: auto;
}
#user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

#user-pic{
  border-radius: 100%;
  height: 4rem;
}
/*----------------BODY-----------------*/
body{
  background:navajowhite;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:#000;
}
/* footer */

footer{
  background:#f58a82;
  padding: 50px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 0px;
  border-bottom: 1px solid #ccc;
}

.content-foo{
  text-align: center;
}

.content-foo h4{
  color: #fff;
  border-bottom: 3px solid #d3205f;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p{
  color: #ccc;
}

.titulo-final{
  text-align: center;
  font-size: 15px;
  margin: 20px 0 0 0;
  color: #cec8c8;
}
