/*style de html tienda / inicio*/
.conteiner-tienda{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}
*art{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}
.conteiner-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    gap: 15px ;   
}
.card-img-top{
    height: 200px;
    width: 100;
    align-items: center;
}
/*CSS del Html iniciar sesion*/
.conteiner-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formulario{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: absolute;
min-width: 240PX;
max-width: 25%;
width: 25%;
top: 10%;
left:50%;
transform: translate(-50%,50%);
padding: 15px;
box-shadow: 0 1rem 1rem rgba(0,0,0,0.3);
background-color: rgba(0,0,0,0.3);
border: 5px;
color: ghostwhite;
}
h1{
    position: relative;
    font: 17px;
    margin-bottom: 10px;
}
button{
    display: block;
    margin: 15px;
    text-align: center;
    width: 50%;
    height: 40px ;
    background-color: darkcyan;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: aliceblue;
}
/*todo*/
body{
    background: dimgray;
}
